@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* For webkit browsers (Chrome, Safari) */
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    /* For Firefox */
    .hide-scrollbar {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
    }
    @keyframes pop-in {
      0% {
        opacity: 0;
        transform: scale(0.95);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    @keyframes pop-out {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0.95);
      }
    }
    
    .animate-pop-in {
      animation: pop-in 0.3s ease-in-out forwards;
    }
    
    .animate-pop-out {
      animation: pop-out 0.3s ease-in-out backwards;
    }
     
    
  }
  